.env
.idea
.tox
.venv
.vscode
__pycache__
.prettierrc
build
dist
package-lock.json
package.json
test-results.xml

# jupyter notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# extras generated whn using Agent Viewer
interactive_graph.html
lib/

# demo output 
output/